<div class="intro_container">
  <div class="row">
    <div class="col"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
      <img src="/assets/home/ia.avif" alt="cover_page" class="w-100" />
    </div>
    <div class="col"></div>
  </div>
  <div class="row bg-dark">
    <div class="col"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-2 text-center">
      <span class="bg-h1-bold">Directorio en Galería </span>
      <div class="py-2">
        <p class="bg-h2-regular" [style.color]="'var(--color-yellow)'">
          Descubre las mejores aplicaciones de inteligencia artificial
        </p>
      </div>
      <div class="pt-2">
        <p class="bg-h3-regular">
          Optimiza tus procesos de negocio y aumenta la eficiencia de tu
          empresa.
        </p>
      </div>
      <div class="pt-2 pb-4 text-center">
        <button
          type="button"
          class="btn me-2"
          *ngFor="let IAType of IATypes; let i = index"
          [ngClass]="IAType?.active ? 'btn-info' : 'btn-light'"
          (click)="changeStatus(i)"
        >
          {{ IAType.name }}
        </button>
      </div>
      <div class="row directory">
        <div
          class="col-xs-12 col-sm-12 col-md-6 col-lg-4 pb-4"
          *ngFor="let ia of data"
        >
          <div class="card">
            <a [href]="ia.url" target="_blank">
              <img
                class="card-img-top"
                [src]="'assets/directory/' + ia.image"
                alt="Card image cap"
              />
            </a>
            <div class="card-body bg-dark text-start">
              <div class="card-title">{{ ia.title }}</div>
              <div class="card-subtitle mb-2 text-muted">
                <span [class]="getClass(ia.accessType)">{{
                  ia.accessType
                }}</span>
              </div>
              <p class="card-text bg-desc-regular">
                {{ ia.description }}
              </p>
              <div class="pb-1">{{ ia.price | currency }}</div>
              <div class="card-text" *ngIf="ia.tags">
                <span *ngFor="let tag of ia.tags" [className]="sort()">{{
                  tag
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
