<nav
  class="navbar navbar-expand-sm"
  [class]="
    getTemplateMode() === 'dark' ? 'navbar-dark bg-dark border-light' : 'navbar-light border-dark'
  "
>
  <div class="container-fluid">
    <a class="navbar-brand" (click)="navigate('home')">SYSTEMIA.ONLINE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto  mb-lg-0 m-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="navigate('')">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigate('directory')">Directorio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigate('categories')">Categorias</a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="me-2">
          <button
            class="btn"
            [class]="
              getTemplateMode() === 'dark'
                ? 'btn-outline-light'
                : 'btn-outline-dark'
            "
            type="button"
            (click)="setTemplateMode()"
          >
            {{ templateMode }} Mode
          </button>
        </div>
        <div>
          <button
            class="btn"
            [class]="
              getTemplateMode() === 'dark'
                ? 'btn-outline-info'
                : 'btn-outline-dark'
            "
            type="button"
            (click)="open()"
          >
            Buscar
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>
