<div class="intro_container">
  <div class="row">
    <div class="col"></div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <img src="/assets/home/cover_page2.JPG" alt="cover_page" class="w-100" />
    </div>
    <div class="col"></div>
  </div>
  <div class="row bg-dark">
    <div class="col"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10  p-4 text-center">
      <span class="bg-h2-semibold "
        >La Mayor Base de Datos Gratis de Herramientas de Inteligencia Artificial
      </span>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-start  pt-4">
          <div class="alert alert-primary"  (click)="navigate('galery')" role="alert">Directorio IA en Galería →</div>
          <div class="alert alert-secondary"  (click)="navigate('categories')" role="alert">Todas las Categorías →</div>
          <div class="alert alert-info"  (click)="navigate('discounts')" role="alert">Cupones y Descuentos →</div>
          <div class="alert alert-danger"  (click)="navigate('blog')" role="alert">Blog y Noticias →</div>
          <div class="alert alert-success"  (click)="navigate('resources')" role="alert">
            Recursos Gratis de Inteligencia Artificial</div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center m-auto">
          <img src="/assets/home/brain.avif" class="w-100" />
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
