@mixin bg-h1 {
	font-size: 2rem;
	margin: 0;
	padding-right: 0.25rem;
}

@mixin bg-h2 {
	font-size: 1.5rem;
	margin: 0;
	padding-right: 0.25rem;
}

@mixin bg-h3 {
	font-size: 1.25rem;
	margin: 0;
	padding-right: 0.25rem;
}

@mixin bg-body {
	font-size: 1rem;
	margin: 0;
	padding-right: 0.25rem;
}

@mixin bg-desc {
	font-size: 0.75rem;
	margin: 0;
	padding-right: 0.25rem;
}
