.cover_page {
  width: 100%;
  background-image: url(/assets/home/cover_page.JPG);
}
.categories {
  max-width: 1024px;
  text-align: center;
  margin: auto;
}
.card {
  .card-img-top{
    cursor: pointer;
  }
  .card-body {
    height: 3rem;
    padding: 0.5rem;
    color: white;
    .card-title{
      margin-top: auto;
    }
  }
}

@media (min-width: 768px) {
  .card-img-top {
    height: 200px;
    max-height: 200px;
  }
}
