.cover_page {
  width: 100%;
  background-image: url(/assets/home/cover_page.JPG);
}
.card-body{
  height: 80px;
  padding: 0.5rem;
  color: white;
}
.card-img-top {
  height: 160px;
  max-height: 160px;
}
