<div>
  <div class="row" [style.background-color]="'#000'">
    <div class="col"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
      <img src="/assets/home/cover_page2.JPG" alt="cover_page" class="w-100" />
    </div>
    <div class="col"></div>
  </div>
  <div
    class="row"
    [class]="
      getTemplateMode() === 'dark'
        ? 'bg-dark text-white'
        : 'bg-light text-muted'
    "
  >
    <div class="col"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 p-4 text-center">
      <span class="bg-h2-semibold"
        >Categorías de aplicaciones de Inteligencia Artificial:
      </span>
      <div class="py-4">
        <p class="bg-desc-regular">
          Explora la variedad de categorías de aplicaciones de Inteligencia
          Artificial disponibles en AIFINDY y descubre cómo la IA puede ser útil
          para mejorar tus procesos y proyectos.
        </p>
      </div>
      <div class="row categories">
        <div
          class="col-xs-12 col-sm-12 col-md-4 pb-4"
          (click)="navigate('categories', category.name)"
          *ngFor="let category of categories"
        >
          <div
            class="card"
            [class]="
              getTemplateMode() === 'dark'
                ? 'border-light text-light bg-dark'
                : 'border-dark text-dark bg-light'
            "
          >
            <img
              class="card-img-top"
              [src]="'assets/categories/' + category.image"
              alt="Card image cap"
            />
            <div class="card-body fw-bolder border-top">
              <div
                class="card-title text-decoration-underline"
                [class]="
                  getTemplateMode() === 'dark' ? 'text-light' : 'text-dark'
                "
              >
                <b>{{ category.title }}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
