<div class="intro_container">
  <div class="row">
    <div class="col"></div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <img src="/assets/home/cover_page2.JPG" alt="cover_page" class="w-100" />
    </div>
    <div class="col"></div>
  </div>
  <div class="row bg-dark">
    <div class="col"></div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 p-4 text-center">
      <span class="bg-h1-semibold"
        >Categorías de aplicaciones de Inteligencia Artificial:
      </span>
      <div class="py-4">
        <p class="bg-desc-regular">
          Explora la variedad de categorías de aplicaciones de Inteligencia
          Artificial disponibles en AIFINDY y descubre cómo la IA puede ser útil
          para mejorar tus procesos y proyectos.
        </p>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 pb-4">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/home/redes.avif"
              alt="Card image cap"
            />
            <div class="card-body bg-dark">
              <div class="card-title">Redes Sociales, Marketing, SEO</div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 pb-4">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/home/fotos.avif"
              alt="Card image cap"
            />
            <div class="card-body bg-dark">
              <div class="card-title">Fotos, Arte, Avatar</div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 pb-4">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/home/textos.avif"
              alt="Card image cap"
            />
            <div class="card-body bg-dark">
              <div class="card-title">Textos, Emails, Escrito</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
