
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './styles/variables.scss';
@import './styles/mixin-element';
.row {
	margin: 0;
}
* {
	font-size: 100%;
	font-family: OpenSans-Regular, sans-serif;
}
.intro_container{
  background-color: var(--color-dark) !important;
  color: var(--color-white);
}
